{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 mb-5 border border-4 border-light rounded-lg bg-light shadow">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="logo-font text-blue ml-5 mb-3">
                    Your Decisions Make Chinese Learning Possible
                </h1>
            </div>
            <div class="col-5 col-md-6 mt-5">
                <h5><i class="fa fa-check text-danger pr-2" aria-hidden="true"></i> Structured and comprehensive courses</h5>
                <h5><i class="fa fa-check text-danger pr-2" aria-hidden="true"></i> Videos with flashcards</h5>
                <h5><i class="fa fa-check text-danger pr-2" aria-hidden="true"></i> Lessons from an English-speaker</h5>
                <h4 class="pl-auto mb-5 py-3">
                    <a href="{% url 'store' %}" class="sign-up-now-button btn btn-lg rounded-1 text-uppercase py-3 mt-2">Sign Up Now</a>
                </h4>
            </div>
        </div>
        <div class="row mb-5 border border-4 border-light rounded-lg bg-warning shadow">
            <div class="col-8 col-md-9 my-auto">
                <h1 class="logo-font text-danger ml-5 mt-5 mb-3">
                    Introduction to Chinese Language
                </h1>     
                <h5><i class="fa fa-check text-info ml-5 pr-2" aria-hidden="true"></i> Chinese is a very difficult language</h5>
                <h5><i class="fa fa-check text-info ml-5 pr-2" aria-hidden="true"></i> Each character is a ‘word’</h5>
                <h5><i class="fa fa-check text-info ml-5 pr-2" aria-hidden="true"></i> The written language is symbolic and not phonetic</h5>
                <h5><i class="fa fa-check text-info ml-5 pr-2" aria-hidden="true"></i> Chinese does not have a full grammar</h5>
                <h5><i class="fa fa-check text-info ml-5 mb-5 pr-2" aria-hidden="true"></i> ‘Pinyin’ can be used to speak Chinese fluently</h5>
            </div>
            <div class="col-4 col-md-3 my-auto">
                <img src="{{ MEDIA_URL }}h-1-chinese.png" alt="Chinese">
            </div>
        </div>
        <div class="row mb-5 border border-4 border-light rounded-lg bg-light shadow">
            <div class="col-3 col-md-2 ml-5 mr-3 mt-5 my-auto">
                <img src="{{ MEDIA_URL }}h-2-teaching.png" alt="Teaching">
            </div>
            <div class="col-8 col-md-9 mt-5 mb-5">
                <h1 class="logo-font text-blue mb-3">
                    Teaching with English Speakers
                </h1>     
                <h5>Explain Chinese in a way that make sense to the English Speakers</h5>
            </div>
        </div>
        <div class="row mb-5 border border-4 border-light rounded-lg bg-secondary shadow">
            <div class="col-8 col-md-9 ml-5 mt-5 mb-5">
                <h1 class="logo-font text-blue text-warning mb-3">
                    One-step Self-study Program
                </h1>     
                <h5 class="text-light">Follow our roadmap (Learn, practice & test) to make you from beginner to fluency Chinese speaker in your own convenient place</h5>
            </div>
            <div class="col-3 col-md-2 my-auto">
                <img src="{{ MEDIA_URL }}h-3-workflow.png" alt="One-Step">
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-2 border border-black border-4 bg-dark">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-light mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

    <footer class="page-footer font-small indigo bg-light">         
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="{% url 'home' %}"> CHIBegin.com</a>
        </div>
    </footer>
    
{% block postloadjs %}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}