{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-7 my-auto">
                <h1 class="logo-font text-blue">
                    Your Decisions Make Chinese Learning Possible
                </h1>
            </div>
            <div class="col-5 col-md-5 my-auto">                
                <h5><i class="fa fa-check" aria-hidden="true"></i> Structured and comprehensive courses</h5>
                <h5><i class="fa fa-check" aria-hidden="true"></i> Videos with flashcards</h5>
                <h5><i class="fa fa-check" aria-hidden="true"></i> Lessons from an English-speaker</h5>
                <h4 class="pl-auto py-3">
                    <a href="" class="sign-up-now-button btn btn-lg rounded-0 text-uppercase py-3">Sign Up Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}