html {
    height: 100%;
}

body {
    background-color: #bfc9ca;
    /* height: calc(180vh - 130px); */
    color: #555555;
    font-family: 'Merriweather', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.sign-up-now-button {
    background: #5499c7;
    color: white;
    min-width: 260px;
}

.btn-blue {
    background: #5499c7;
    color: white;
}

.sign-up-now-button:hover,
.sign-up-now-button:active,
.sign-up-now-button:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #2471a3;
    color: white;
}

.text-black {
    color: #303030 !important;
}

.text-blue {
    color: #2471a3;
}

.border-black {
    border: 1px solid #303030 !important;
}

.border-4 {
    border-width: 4px !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 70px;
    right: 30px;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 1;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* fixed top bar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

     .header-container {
        padding-top: 130px;
    }
}

/* Pad the top on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 120px;
    }

    .body {
        height: calc(100vh-50px);
    }

    h1.logo-font, h3 {
        font-size: 20px;
    }

    i.fa, .text-desc {
        font-size: 10px;
    }

    .sign-up-now-button {
        font-size: 15px;
        min-width: 150px;
    }
}