html {
    height: 100%;
}

body {
    background-color: #bfc9ca;
    /* height: calc(180vh - 130px); */
    color: #555555;
    font-family: 'Merriweather', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.sign-up-now-button {
    background: #5499c7;
    color: white;
    min-width: 260px;
}

.btn-blue {
    background: #5499c7;
    color: white;
}

.sign-up-now-button:hover,
.sign-up-now-button:active,
.sign-up-now-button:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #2471a3;
    color: white;
}

.text-black {
    color: #303030 !important;
}

.text-blue {
    color: #2471a3;
}

.border-black {
    border: 1px solid #303030 !important;
}

.border-4 {
    border-width: 4px !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

     .header-container {
        padding-top: 130px;
    }
}