{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <!-- Required meta tags -->
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Chinese to Begin {% block extra_title %}{% endblock %}</title>
  </head>
  <body>   
    <header class="container-fluid fixed-top">        
        <div id="topnav" class="row bg-white pt-lg-2 pb-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>CHI</strong>Begin</h2>
                </a>
            </div>
            <div class="col-12 col-lg-8 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">                  
                    <li class="list-inline-item">
                        <a class="text-black nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-black nav-link" href="{% url 'tips' %}">Tips of Learning</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-black nav-link" href="{% url 'store' %}">Store</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-black nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_course' %}" class="dropdown-item text-black">Store Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item text-black">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item text-black">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item text-black">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item text-black">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="list-inline-item">
                    <a class="nav-link text-black d-block d-lg-none" href="{% url 'home' %}">
                        <div class="text-center text-lg-left my-auto">
                            <h2 class="logo-font text-black my-0"><strong>CHI</strong>Begin</h2>
                        </div>
                    </a>
                </li>
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'add_course' %}" class="dropdown-item text-black">Store Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item text-black">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item text-black">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item text-black">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item text-black">Login</a>
                        {% endif %}
                    </div>
                </li>
            </nav>
        </div>
        <div id="discount-banner" class="row text-center">
            <div class="col bg-dark text-light border border-4 border-light">
                <h6 class="logo-font my-1">More discounts available in every course. Sign up now to get the offer!</h6>
            </div>
        </div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
        <div class="container header-container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="page-footer font-small indigo bg-light">         
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="{% url 'home' %}"> CHIBegin.com</a>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>