{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row mb-5 border border-4 border-dark rounded-lg bg-success shadow">
            <div class="col-12 col-md-12 my-auto">
                <h1 class="logo-font text-danger ml-5 mt-5 mb-3">
                    About Us
                </h1>
            </div>
            <div class="col-12 col-md-12">
                <h5 class="text-light ml-5 mb-5 pr-2">
                    We are an online Chinese language education company focused on the teaching of Chinese to students in a clearer way by using videos or one-on-one to the students from all over the world.
                </h5>
            </div>
        </div>
        <div class="row mb-5 border border-4 border-light rounded-lg bg-light shadow">
            <div class="col-12 col-md-12 my-auto">
                <h1 class="logo-font text-blue ml-5 mt-5 mb-3">
                    Our Goal
                </h1>     
                <h5 class="ml-5 mb-5 pr-2">
                    We would like to connecting the world with Chinese in everything, and making no barrier in Chinese communication! 
                </h5>
            </div>
        </div>
        <div class="row mb-5 border border-4 border-light rounded-lg bg-dark shadow">
            <div class="col-12 col-md-12 my-auto">
                <h1 class="logo-font text-warning ml-5 mt-5 mb-5">
                    Our Team
                </h1>
            </div>
            <div class="col-4 col-md-4 my-auto mx-auto">     
                <img class="border border-4 border-light ml-5 mb-2" src="/media/t-6-leannf.jpg" alt="Lean" width="200px">
                <h5 class="logo-font text-warning text-uppercase ml-5">
                    Leeann F.
                </h5>
                <h5 class="logo-font text-light ml-5">
                    Founder
                </h5>
                <h6 class="logo-font text-info ml-5 mr-3 mb-5">
                    Wisdom is a lifelong attempt to acquire it
                </h6>
            </div>
            <div class="col-4 col-md-4 my-auto mx-auto">     
                <img class="border border-4 border-light ml-5 mb-2" src="/media/t-1-alexb.jpg" alt="Alex" width="200px">
                <h5 class="logo-font text-warning text-uppercase ml-5">
                    Alex B.
                </h5>
                <h5 class="logo-font text-light ml-5">
                    CEO
                </h5>
                <h6 class="logo-font text-info ml-5 mr-3 mb-5">
                    Leadership and learning are indispensable to each other
                </h6>
            </div>
            <div class="col-4 col-md-4 my-auto mx-auto">
                <img class="border border-4 border-light ml-5 mb-2" src="/media/t-2-amys.jpg" alt="Amy" width="200px">
                <h5 class="logo-font text-warning text-uppercase ml-5">
                    Amy S.
                </h5>
                <h5 class="logo-font text-light ml-5">
                    CMO
                </h5>
                <h6 class="logo-font text-info ml-5 mr-3 mb-5">
                    Learning is beautiful as nobody can take it away from you
                </h6>
            </div>
            <div class="col-4 col-md-4 my-auto mx-auto">
                <img class="border border-4 border-light ml-5 mb-2" src="/media/t-7-miked.jpg" alt="Mike" width="200px">
                <h5 class="logo-font text-warning text-uppercase ml-5">
                    Mike D.
                </h5>
                <h5 class="logo-font text-light ml-5">
                    Web Developer
                </h5>
                <h6 class="logo-font text-info ml-5 mr-3 mb-5">
                    Logician as always
                </h6>
            </div>
            <div class="col-4 col-md-4 my-auto mx-auto">
                <img class="border border-4 border-light ml-5 mb-2" src="/media/t-3-buffye.jpg" alt="Buffy" width="200px">
                <h5 class="logo-font text-warning text-uppercase ml-5">
                    Buffy E.
                </h5>
                <h5 class="logo-font text-light ml-5">
                    Course Designer
                </h5>
                <h6 class="logo-font text-info ml-5 mr-3 mb-5">
                    Teaching in Western perspective
                </h6>
            </div>
            <div class="col-4 col-md-4 my-auto mx-auto">
                <img class="border border-4 border-light ml-5 mb-2" src="/media/t-5-erikah.jpg" alt="Erika" width="200px">
                <h5 class="logo-font text-warning text-uppercase ml-5">
                    Erika H.
                </h5>
                <h5 class="logo-font text-light ml-5">
                    Course Designer
                </h5>
                <h6 class="logo-font text-info ml-5 mr-3 mb-5">
                    Chinese Storyteller
                </h6>
            </div>
            <div class="col-4 col-md-4 my-auto mx-auto">
                <img class="border border-4 border-light ml-5 mb-2" src="/media/t-4-crystala.jpg" alt="Crystal" width="200px">
                <h5 class="logo-font text-warning text-uppercase ml-5">
                    Crystal A.
                </h5>
                <h5 class="logo-font text-light ml-5">
                    Host
                </h5>
                <h6 class="logo-font text-info ml-5 mr-3 mb-5">
                    Conversation and skill talented
                </h6>
            </div>
        </div>
    </div>
{% endblock %}