{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row mb-5 border border-4 border-dark rounded-lg bg-info shadow">
            <div class="col-10 col-sm-11 col-md-10 my-auto">
                <h1 class="logo-font text-light ml-5 mt-4 mb-3">
                    Reason to Learn Chinese
                </h1>
                <h5 class="text-dark text-desc"><i class="fa fa-check text-danger ml-5 pr-2" aria-hidden="true"></i> One of the oldest languages in the world</h5>
                <h5 class="text-dark text-desc"><i class="fa fa-check text-danger ml-5 pr-2" aria-hidden="true"></i> The Chinese history equal to the Chinese culture</h5>
                <h5 class="text-dark text-desc"><i class="fa fa-check text-danger ml-5 pr-2" aria-hidden="true"></i> About 900 million native speakers uses Chinese</h5>
                <h5 class="text-dark text-desc"><i class="fa fa-check text-danger ml-5 pr-2" aria-hidden="true"></i> Uses the Semanto-phonetic Writing Systems</h5>
                <h5 class="text-dark text-desc"><i class="fa fa-check text-danger ml-5 pr-2" aria-hidden="true"></i> 4 Tones to say a word in different meaning</h5>
                <h5 class="text-dark text-desc"><i class="fa fa-check text-danger mb-4 ml-5 pr-2" aria-hidden="true"></i> Great option to learn plenty of languages</h5>
            </div>
        </div>
        <div class="row mb-5 ml-3">
            <div class="col-6 col-md-6 mr-5 border border-4 border-light rounded-lg bg-light shadow">
                <h5 class="logo-font text-dark mt-4 mb-4 ml-3 mr-3">
                    Georgia Caney learning to speak Chinese for the first time in basic tones
                </h5>
                <iframe class="border border-4 border-light ml-1 mb-4" width="420" height="315" 
                    src="https://www.youtube.com/embed/7URPjdreJxs?&amp;start=56&end=122" allowfullscreen allow="autoplay;" ng-show="showvideo">
                </iframe>
            </div>
            <div class="col-6 col-md-5 border border-4 border-light rounded-lg bg-dark shadow">
                <h5 class="logo-font text-light mt-4 mb-4 ml-1">
                    JJ learned fluent Chinese by memorizing the Chinese characters
                </h5>
                <iframe class="border border-4 border-light ml-2 mr-2 mb-4" width="335" height="275" 
                    src="https://www.youtube.com/embed/iGD7pF5iTd8?&amp;start=246&end=393" allowfullscreen allow="autoplay;" ng-show="showvideo">
                </iframe>
            </div>
        </div>
        <div class="row mb-5 ml-3">
            <div class="col-6 col-md-5 mr-5 border border-4 border-light rounded-lg bg-dark shadow">
                <h5 class="logo-font text-light mt-4 mb-4 ml-1">
                    3 main reasons for Mark Zuckerberg to learn in Chinese
                </h5>
                <iframe class="border border-4 border-light ml-2 mr-2 mb-4" width="335" height="275" 
                    src="https://www.youtube.com/embed/HTmHtOSqHTk?&amp;start=0&end=147" allowfullscreen allow="autoplay;" ng-show="showvideo">
                </iframe>
            </div>
            <div class="col-6 col-md-6 border border-4 border-light rounded-lg bg-light shadow">
                <h5 class="logo-font text-dark mt-4 mb-4 ml-3 mr-3">
                    Monkey Abroad shares about the basic components of the Chinese language
                </h5>
                <iframe class="border border-4 border-light ml-1 mb-4" width="420" height="315" 
                    src="https://www.youtube.com/embed/KtFBGQeaCmQ?&amp;start=98&end=319" allowfullscreen allow="autoplay;" ng-show="showvideo">
                </iframe>
            </div>
        </div>
        <div class="row mb-5 ml-3">
            <div class="col-6 col-md-6 mr-5 border border-4 border-light rounded-lg bg-light shadow">
                <h5 class="logo-font text-dark mt-4 mb-4 ml-3 mr-3">
                    Shao Lan walks through a simple lesson in recognizing the ideas behind the characters and their meaning
                </h5>
                <iframe class="border border-4 border-light ml-1 mb-4" width="420" height="315" 
                    src="https://www.youtube.com/embed/troxvPRmZm8?&amp;start=54&end=362" allowfullscreen allow="autoplay;" ng-show="showvideo">
                </iframe>
            </div>
            <div class="col-6 col-md-5 border border-4 border-light rounded-lg bg-dark shadow">
                <h5 class="logo-font text-light mt-4 mb-4 ml-1">
                    Steve Kaufmann shared on how he's overcome the difficulty of learning Chinese in the Chinese characters and the tones
                </h5>
                <iframe class="border border-4 border-light ml-2 mr-2 mb-4" width="335" height="275" 
                    src="https://www.youtube.com/embed/uMQqDWrJ034?&amp;start=162&end=527" allowfullscreen allow="autoplay;" ng-show="showvideo">
                </iframe>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-2 border border-black border-4 bg-dark">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-light mx-auto my-auto"></i>
        </a>
    </div>

    <footer class="page-footer font-small indigo bg-light">         
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="{% url 'home' %}"> CHIBegin.com</a>
        </div>
    </footer>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}